body {
    background: url('http://teratoma.github.io/images/bg.png') repeat fixed 0 0;
    color: #999999;  
}

.wrapper {
    
	padding: 0 10px;
	background: url('http://teratoma.github.io/images/wrapper-bg.png');
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 30px;
}

.widget-wrapper {
    background: url('http://teratoma.github.io/images/wrapper-bg.png');
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    margin: 0 0 20px;
    padding: 20px;
}

.widget-title {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 23px;
    
    padding: 0 0 20px;
    text-align: left;
}

.content {
    margin: 40px 0 20px 20px;
}

.sidebar {
    font-family: "Lucida Console", Monaco, monospace;
	float: right;
	width: 250px;
	margin: 40px 20px 20px 0;
}

.sidebar-left .content {
    margin: 40px 20px 20px 0;
}

.sidebar-left .sidebar {
    width: 250px;
	float: left;
	margin: 40px 0 20px 20px;
}

.no-sidebar .content {
    margin: 40px 20px 20px 20px;
}

.site-name {
  margin: 10px 0;
  font-family: inherit;
  font-size: 38.5px;
  font-weight: bold;
  line-height: 40px;
  color: inherit;
  text-rendering: optimizelegibility;
}

@media (max-width: 767px) {
    .content {
        max-width: 767px;
		margin: 40px 20px 20px 20px;
    }

    .sidebar {
        margin: 40px 20px 20px 20px;
    }
}

.footerbox {
margin: 0 auto;
background: url('http://teratoma.github.io/images/wrapper-bg.png');
width: 100% !important;}