<div class="widget-wrapper">
<h3 class="widget-title">TERATOMA</h3>
<center>
<div><img src="http://teratoma.github.io/images/av.png"></div>
<div><iframe src="http://githubbadge.appspot.com/badge/Teratoma?a=0" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder=0></iframe></div>
<div><a href="http://stackoverflow.com/users/2378903/teratoma">
<img src="http://stackoverflow.com/users/flair/2378903.png?theme=dark" width="208" height="58" alt="profile for Teratoma at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Teratoma at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></div>
<br>
<div><iframe class="btn" border="0" allowtransparency="true" src="http://platform.tumblr.com/v1/follow_button.html?button_type=1&tumblelog=teratomazone&color_scheme=dark" frameborder="0" height="25" width="175" scrolling="no"></iframe></div><br><div><a href="https://twitter.com/Teratoma" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @Teratoma</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
</center>
</a></div>

<div class="widget-wrapper">
<h3 class="widget-title">Recent Posts</h3>
<ul>
{% for post in site.posts limit:10 %}
    <li><a href="{{ site.baseurl }}{{post.url}}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>

<div class="widget-wrapper">
<h3 class="widget-title">Archive</h3>
<ul>
{% for post in site.posts %}
    {% capture next %}{{ post.date | date: "%B %Y" }}{% endcapture %}
    {% if next != current %}
        <li><a href="{{ site.baseurl }}/archive.html#{{ post.date | date: "%B%Y" }}">{{ next }}</a></li>
        {% assign current = next %}
    {% endif %}
{% endfor %}
</ul>
</div>

<div class="widget-wrapper">
<h3 class="widget-title">Categories</h3>
<ul>
  {% if site.categories.first[0] == null %}
    {% for category in site.categories %}
     <li><a href="{{ site.baseurl }}/categories.html#{{ category }}-ref">
     {{ category | join: "/" }} <span>{{ site.categories[category].size }}</span>
     </a></li>
    {% endfor %}
  {% else %}
    {% for category in site.categories %}
     <li><a href="{{ site.baseurl }}/categories.html#{{ category[0] }}-ref">
     {{ category[0] | join: "/" }}</span>
     </a></li>
    {% endfor %}
  {% endif %}
</ul>
</div>